<div class="main-container">
  <div #section1 id="section1" class="box-container">


    <div class="div-container1 ad1">
      <div class="box1 ">
        <h1>About Me</h1>
        <div class="box-name">
          <h2>France Joshua</h2>
          <h2>Alfelor</h2>
        </div>
      </div>
      <div class="box2">
        <div class="paragraph-div">
          <p>Hello, I'm France, a versatile software developer and IT specialist with a passion for crafting functional, innovative, and visually captivating digital solutions. With expertise in web development, web design, and a wide range of IT competencies, I am equipped to bring any project to life. I specialize in front-end and back-end technologies, including PHP, HTML, CSS, JavaScript, Angular, React, Laravel, and more. My skills in creative design, combined with proficiency in tools like Figma, Photoshop, and After Effects, enable me to create user-friendly and visually engaging interfaces.</p>

          <br>
          <p>From building seamless web applications and troubleshooting hardware to providing IT support, I am dedicated to delivering high-quality solutions. Whether it’s enhancing user experiences through effective UI/UX, implementing scalable designs, or debugging complex systems, I approach every project with commitment and precision.

          </p>


        </div>
        <br>
        <!-- <div class="seeMore">
          <p>See more</p>
        </div> -->



        <div class="box2-flex-div">
          <div class="image-div image-div1 ad1">
            <div class="img-div img-div1">
              <!-- <img src="https://images.pexels.com/photos/3987066/pexels-photo-3987066.jpeg" alt=""> -->
            </div>
            <h2>Web Developer</h2>
          </div>
          <div class="image-div image-div2 ad2">
            <div class="img-div img-div2"></div>
            <!-- <img src="https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
             <h2>UI/UX Designer</h2>
          </div>
          <div class="image-div image-div3 ad3">
            <div class="img-div img-div3"></div>
            <!-- <img src="https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
             <h2>Basic Networks</h2>
          </div>
        </div>
        <div class="button-flex">
          <button>Download CV</button>
          <button>Contact</button>
        </div>

        <div class="absolute-div ad3">
          <h1>France</h1>
        </div>
      </div>
    </div>
  </div>
  <div #section2 id="section2" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Skills</h1>
      </div>
      <div class="box2">
        <div class="box2-header">
          <div class="box2-navigation-div">
            <div class="navigation-list navSkillId1" (click)="navSkill('1')">All</div>
            <div class="navigation-list navSkillId2" (click)="navSkill('2')">Web Development</div>
            <div class="navigation-list navSkillId3" (click)="navSkill('3')">Software Development</div>
            <div class="navigation-list navSkillId4" (click)="navSkill('4')">Multimedia</div>
            <div class="navigation-list navSkillId5" (click)="navSkill('5')">Technical Skills</div>
          </div>
        </div>

        <!-- <div #myDiv class="div1">Content</div> -->


        <div class="box2-content">

          <div class="box2-content-div1" [ngClass]="{'Hidden': selectedSkill !== '1'}">
            <h4>What I Do</h4>
            <br>

            <div class="whatIDo-container">
              <div class="whatIDo-boxCard">
                <h4>Web Developer</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, voluptates! Culpa quos facere temporibus deleniti cum atque dignissimos. Dolorum iure a deserunt. Illo, nihil ullam.</p>
              </div>
              <div class="whatIDo-boxCard">
                <h4>UI/UX Designer</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, repudiandae, amet accusamus cum velit eligendi obcaecati ipsum recusandae eos sapiente error aliquid dicta ipsa quod cupiditate, aut fuga culpa dolorem?</p>
              </div>
              <div class="whatIDo-boxCard">
                <h4>Technical Skills</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, repudiandae, amet accusamus cum velit eligendi error aliquid dicta ipsa quod cupiditate, aut fuga culpa dolorem?</p>
              </div>
            </div>

          </div>

          <div class="box2-content-div Hidden box2-content-div2" [ngClass]="{'Hidden': selectedSkill !== '2'}">
            Div2
          </div>
          <div class="box2-content-div Hidden box2-content-div3" [ngClass]="{'Hidden': selectedSkill !== '3'}">
            Div3
          </div>
          <div class="box2-content-div Hidden box2-content-div4" [ngClass]="{'Hidden': selectedSkill !== '4'}">
            Div4
          </div>
          <div class="box2-content-div Hidden box2-content-div5" [ngClass]="{'Hidden': selectedSkill !== '5'}">
            Div5
          </div>


        </div>

        <!-- <table>
          <tbody>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
  <div #section3 id="section3" class="box-container">
    <div class="div-container3">
      <div class="box1">
        <h1>Portfolio</h1>
      </div>
      <div class="box2">
        <div class="portfolioCard-div">
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #section4 id="section4" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Certificates</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section5 id="section5" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>CV</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section6 id="section6" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Contact</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section7 id="section7" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Testimonials</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section8 id="section8" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>FAQs</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>

  <div class="main-footer">
    <p>© 2024 Created by France Alfelor. All Rights Reserved.</p>
  </div>
</div>


