.con{
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-color-white-1);
  padding: 10px;
}


.con1{
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-color-white-2);
  box-shadow: var(--shadowEffect-1);
  padding: 10px;
  margin: 5px;
}
.b{
  height: 100%;
  border: 1px solid black;
}
