<div class="main-container">
  <div #section1 id="section1" class="box-container">


    <div class="div-container1 ad1">
      <div class="box1 ">
        <h1>About Me!</h1>
        <div class="box-name">
          <h2>France Joshua</h2>
          <h2>Alfelor</h2>
        </div>
      </div>
      <div class="box2">
        <div class="paragraph-div">
          <p>Hello, I'm France, a versatile software developer and IT specialist with a passion for crafting functional, innovative, and visually captivating digital solutions. With expertise in web development, web design, and a wide range of IT competencies, I am equipped to bring any project to life. I specialize in front-end and back-end technologies, including PHP, HTML, CSS, JavaScript, Angular, React, Laravel, and more. My skills in creative design, combined with proficiency in tools like Figma, Photoshop, and After Effects, enable me to create user-friendly and visually engaging interfaces.</p>

          <br>
          <p>From building seamless web applications and troubleshooting hardware to providing IT support, I am dedicated to delivering high-quality solutions. Whether it’s enhancing user experiences through effective UI/UX, implementing scalable designs, or debugging complex systems, I approach every project with commitment and precision.

          </p>


        </div>
        <br>
        <!-- <div class="seeMore">
          <p>See more</p>
        </div> -->



        <div class="box2-flex-div">
          <div class="image-div image-div1 ad1">
            <div class="img-div img-div1">
              <!-- <img src="https://images.pexels.com/photos/3987066/pexels-photo-3987066.jpeg" alt=""> -->
            </div>
            <h2>Web Developer</h2>
          </div>
          <div class="image-div image-div2 ad2">
            <div class="img-div img-div2"></div>
            <!-- <img src="https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
             <h2>UI/UX Designer</h2>
          </div>
          <div class="image-div image-div3 ad3">
            <div class="img-div img-div3"></div>
            <!-- <img src="https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
             <h2>Basic Networks</h2>
          </div>
        </div>
        <div class="button-flex">
          <button>Download CV ></button>
          <button>Contact</button>
        </div>

        <!-- <div class="absolute-div ad3">
          <h1>France</h1>
        </div> -->
      </div>
    </div>
  </div>
  <div #section2 id="section2" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Skills</h1>
      </div>
      <div class="box2">
        <div class="box2-header">
          <div class="box2-navigation-div">
            <div class="navigation-list" [ngClass]="{'activeNav': selectedNav == '1'}" (click)="navSkill('1')">All</div>
            <div class="navigation-list" [ngClass]="{'activeNav': selectedNav == '2'}" (click)="navSkill('2')">Web Development</div>
            <div class="navigation-list" [ngClass]="{'activeNav': selectedNav == '3'}" (click)="navSkill('3')">Software Development</div>
            <div class="navigation-list" [ngClass]="{'activeNav': selectedNav == '4'}" (click)="navSkill('4')">Creative Design</div>
            <div class="navigation-list" [ngClass]="{'activeNav': selectedNav == '5'}" (click)="navSkill('5')">Technical Skills</div>
          </div>
        </div>

        <!-- <div #myDiv class="div1">Content</div> -->


        <div class="box2-content">

          <div class="box2-content-div1" [ngClass]="{'Hidden': selectedSkill !== '1'}">
            <h4>What I Do?</h4>
            <br>

            <div class="whatIDo-container">
              <div class="whatIDo-boxCard">
                <div class="whatIDo-boxCardDiv1">
                  <h4>Web & Software Development</h4>
                  <p>To leverage web and software development expertise in creating innovative, efficient, and user-friendly solutions that drive business growth and enhance user experiences.</p>
                </div>
                <div class="whatIDo-Div">
                  <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Tailwind</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>PHP</li>
                    <li>Laravel</li>
                    <li>.NET</li>
                    <li>AJAX</li>
                    <li>JSON</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>Visual Basic</li>
                  </ul>
                </div>
              </div>
              <div class="whatIDo-boxCard">
                <div class="whatIDo-boxCardDiv1">
                  <h4>Creative Design</h4>
                  <p>To utilize creative design expertise in crafting visually compelling graphics, engaging multimedia content, and innovative designs that effectively communicate and captivate audiences.</p>
                </div>
                <div class="whatIDo-Div">
                  <ul>
                    <li>Figma</li>
                    <li>Photoshop</li>
                    <li>Canva</li>
                    <li>Gimp</li>
                    <li>Capcut</li>
                    <li>CupCut</li>
                    <li>Filmora</li>
                  </ul>
                </div>
              </div>
              <div class="whatIDo-boxCard">
                <div class="whatIDo-boxCardDiv1">
                  <h4>Technical Skills</h4>
                  <p>To apply technical skills in troubleshooting, hardware debugging, and IT solutions, ensuring seamless system functionality and efficient technical support for organizational success.</p>
                </div>
                <div class="whatIDo-Div">
                  <ul>
                    <li>MS Word</li>
                    <li>MS Excel</li>
                    <li>MS PowerPoint</li>
                    <li>Hardware troubleshooting and debugging</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div class="box2-content-div Hidden box2-content-div2" [ngClass]="{'Hidden': selectedSkill !== '2'}">
            <div class="skillsDiv2">
              <h4>Frontend Development</h4>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>Tailwind</li>
              </ul>
              <h4>Frameworks & Libraries</h4>
              <ul>
                <li>Angular</li>
                <li>React</li>
              </ul>
              <h4>Backend Development</h4>
              <ul>
                <li>PHP</li>
                <li>Laravel</li>
                <li>.NET</li>
              </ul>
              <h4>Additional Technologies</h4>
              <ul>
                <li>AJAX</li>
                <li>JSON</li>
              </ul>
            </div>
          </div>
          <div class="box2-content-div Hidden box2-content-div3" [ngClass]="{'Hidden': selectedSkill !== '3'}">
            <div class="skillsDiv2">
              <h4>Languages</h4>
              <ul>
                <li>Java</li>
                <li>C++</li>
                <li>Visual Basic</li>
              </ul>
            </div>
          </div>
          <div class="box2-content-div Hidden box2-content-div4" [ngClass]="{'Hidden': selectedSkill !== '4'}">
            <div class="skillsDiv2">
              <h4>Design Software</h4>
              <ul>
                <li>Figma</li>
                <li>Photoshop</li>
                <li>Canva</li>
                <li>Gimp</li>
                <li>Capcut</li>
              </ul>
              <h4>Video Editing</h4>
              <ul>
                <li>CupCut</li>
                <li>Filmora</li>
              </ul>
            </div>
          </div>
          <div class="box2-content-div Hidden box2-content-div5" [ngClass]="{'Hidden': selectedSkill !== '5'}">

            <div class="skillsDiv2">
              <h4>Hardware & Debugging</h4>
              <ul>
                <li>Hardware troubleshooting and debugging</li>
              </ul>
              <h4>Software Tools</h4>
              <ul>
                <li>MS Word</li>
                <li>MS Excel</li>
                <li>MS PowerPoint</li>
              </ul>
            </div>
          </div>


        </div>

        <!-- <table>
          <tbody>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td><p>Frontend Development</p><p>Html, CSS, Javascript</p></td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
  <div #section3 id="section3" class="box-container">
    <div class="div-container3">
      <div class="box1">
        <h1>Portfolio</h1>
      </div>
      <div class="box2">
        <div class="portfolioCard-div">
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
          <div class="portfolio-card">
            Card1
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #section4 id="section4" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Certificates</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section5 id="section5" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>CV</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section6 id="section6" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Contact</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section7 id="section7" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>Testimonials</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>
  <div #section8 id="section8" class="box-container">
    <div class="div-container2">
      <div class="box1">
        <h1>FAQs</h1>
      </div>
      <div class="height"></div>
    </div>
  </div>

  <div class="main-footer">
    <p>© 2024 Created by France Alfelor. All Rights Reserved.</p>
  </div>
</div>


