.root-div{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}

app-sidebar{
  height: 100%;
  width: fit-content;
  /* position: fixed; */
  padding: 10px;
  /* border-right: 1px solid; */
  background-color: var(--bg-color-white-2);
  box-shadow: 0 0 5px 5px #0000005d;
  display: flex;
  flex-direction: column;
}


app-main-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
  gap: 20px;
  height: 100%;
  width: 100%;
  /* background-color: lightgreen; */
}
