/* .box{
  min-height: 40px;
  aspect-ratio: 1/1;
  border: 1px solid black;
} */


.sidebar-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  /* width: 100%; */
  /* overflow: auto; */
  box-shadow: var(--shadowEffect-1);
  border-radius: 8px;
  padding: 3px;
  animation-name: sidebar-container;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes sidebar-container {
  0%{
    margin-left: -200px;
  }
}

.sidebar-container .box1{
  border-bottom: var(--border1);
  padding: 10px 5px;
}

.sidebar-container .box1 .profile-img{
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  /* transition: 2s; */
}

.profile-hidden-div{
  position: relative;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 1.5s;
  overflow: hidden;
}

.sidebar-container .box1 .profile-hidden-div img{
  height: 100%;
  aspect-ratio: 1/1;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: var(--shadowEffect-1);
}


.profile-hidden-div .hidden-div{
  height: fit-content;
  padding: 4px;
  display: none;
  transition: 10s;
  font-size: 0;
  text-wrap: nowrap;
  box-shadow: var(--shadowEffect-1);
  width: 100%;
}

@keyframes hidden-div {
  0%{
    opacity: 0;
  }
}

.sidebar-container .box1 .profile-img:hover .profile-hidden-div{
  position: absolute;
  aspect-ratio: 1/1.2;
  display: flex;
  height: fit-content;
  width: 180px;
  background-color: var(--bg-color-white-1);
  box-shadow: var(--shadowEffect-1);
  padding: 5px;
  transform: rotate(360deg);
  padding-bottom: 50px;
}

.sidebar-container .box1 .profile-hidden-div:hover img{
  min-height: 100%;
  padding: 10px;
}

.sidebar-container .box1 .profile-img:hover .hidden-div{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}


.sidebar-container .box2{
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}

.box2-li{
  display: flex;
  gap: 10px;
  align-items: center;
  color: grey;
}

.box2-li h4{
  display: none;
}



.sidebar-container .box3{
  border-top: var(--border1);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

img{
  height: 20px;
  aspect-ratio: 1/1;
}
